body {
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    color: white;
}

nav {
    background: rgba(122,82,66,255);
}

.navbar-brand:focus{
    outline: none;
}

#navButton {
    border: none;
    box-shadow: none;
}

footer {
    background: rgba(122,82,66,255);
}

footer a {
    color: black;
}

#screenshotsCarousel {
    width:900px;
    margin:0 auto;
}